* {
    font-family: Garamond;
}

.background {
    /* background-color: darkblue; */
    height: 550px;
    /* height: auto; */
}

.container {
    /* background-color: coral; */
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
}


.descBox {
    /*box1*/
    /* background-color: aqua; */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.575);
    color: #343434;
    margin-left: 30px;
    height: auto;
    width: 600px;
    position: relative
}

p {
    padding-left: 15px;
    padding-right: 15px;
}

/* .pBox {
    background-color: red;
    padding-bottom: 50px;
} */

h1 {
    padding-left: 15px;
}

h3 {
    padding-left: 15px;
}

.descBox h1 {
    color: #343434;
    float: left;
    font-size: 50px;
}

.descBox p {
    float: left;
    font-size: 18px;
}

.imageBox {
    /*box2*/
    background-image: url('../images/jerrypic3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 360px;
    height: 420px;
    margin: 5px auto;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);

}

.jobBox {
    /* background-color: lawngreen; */
    width: 510px;
    height: 160px;
    position: absolute;
    padding-top: 20px;
    bottom: 0;
}

.funburger {
    /* background-color: brown; */
    background-image: url('../images/FunBurger_BeerBar_black.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    margin-left: 20px;
    width: 80px;
    height: 80px;
}

.rv {
    background-image: url('../images/rv.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    margin-left: 20px;
    width: 80px;
    height: 80px;
}

.Castaic {
    background-image: url('../images/DistrictLogo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    margin-left: 20px;
    width: 70px;
    height: 80px;
}

.saugus {
    background-image: url('../images/saugus.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    margin-left: 20px;
    width: 80px;
    height: 80px;
}

.geek {
    background-image: url('../images/geek.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    margin-left: 20px;
    width: 80px;
    height: 80px;
}

.codeNinjas{
    background-image: url('../images/codeNinjas.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    margin-left: 20px;
    width: 80px;
    height: 80px;
}


@media only screen and (max-width:900px) {

    /* For mobile phones: */
    .background {
        width: 900px;
        height: auto;
    }

    .container {
        /* background-color: coral; */
        padding-bottom: 40px;
        padding-top: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .imageBox {
        /*box2*/
        background-image: url('../images/jerrypic3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 360px;
        height: 420px;
        margin: 5px auto;
        border-radius: 16px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);

    }

    .descBox {
        /*box1*/
        /* background-color: aqua; */
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.575);
        color: #343434;
        margin-left: 30px;
        margin: auto;
        height: 400px;
        width: 600px;
        position: relative
    }

}