* {
    font-family: Garamond;
  }


.background{
    background-image: url('../images/coding3.jpg');
    /* background-color: black; */
    background-attachment: fixed;
    background-size: cover;
    height: 300;
    /* width: auto; */
    overflow-y: auto;
    box-sizing: content-box;
}
.openUp {
    background-color: transparent;
    height: 250px;
    width: auto;

}

@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .background {
        width: 0px;
        height: 0px;
    }
  }