* {
    font-family: Georgia, serif;
  }
.background{
    background-color: #343434;
    /* height: 600px; */
    height: 100vh;
    
}

.titleCon{
    margin-top: 200px;
    padding-top: 250px;
    color: white;
    width: 400px;
    margin: auto;
}

.nameBox{
    text-align: center;
    font-size: 23px;
    height: 50px;
}

.titleBox{
    text-align: center;
    color: cyan;
    margin: auto;
    padding-top: 35px;
    font-size: 18px;
    height: 32px;
    width: 300px;
}

@media only screen and (max-width:500px) {
    .background{
        width: 900px;
        height: 250vh;
    }


}