.cool {
    font-family: 'Raleway', sans-serif;;
    text-decoration: none;
    margin-right: 25px;
    font-size: 23px;
    color: aqua;
  }
.cool:hover {
    color: rgb(56, 255, 189);
    transition-duration: 0.5s;
}

.name {
    color: aqua;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

.name:hover {
    color: rgb(56, 255, 189);
    transition-duration: 0.5s;
}

.bcolor {
    background-color:#343a40;
}

a {
    cursor: pointer;
}
/*/////////////////////////////////////////////////////////////////////*/
.name .span1 { /*First Name*/
    cursor: pointer;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    position: relative;
    transition: 0.5s;
  }
  
  .name .span1:after {
    content: 'erry';
    position: absolute;
    font-family: 'Raleway', sans-serif;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .name:hover .span1 {
    padding-right: 52px;
    font-family: 'Raleway', sans-serif;
  }
  
  .name:hover .span1:after {
    opacity: 1;
    font-family: 'Raleway', sans-serif;
    right: 0;
  }


  .name .span2 { /*Last name*/
    cursor: pointer;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    position: relative;
    transition: 0.5s;
  }
  
  .name .span2:after {
    content: 'choa';
    position: absolute;
    font-family: 'Raleway', sans-serif;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .name:hover .span2 {
    padding-right: 65px;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
  }
  
  .name:hover .span2:after {
    opacity: 1;
    font-family: 'Raleway', sans-serif;
    right: 0;
  }